In [1]:
from utils import *

%reload_ext autoreload
%autoreload 2

## Classify

In [ ]:
save_contract_types()
contract_types, _ = get_contract_types()

In [13]:
display

## Rename the funky files

In [ ]:
d = {'07-0W0404..pdf_12652.txt': '07-0W0404.pdf_12652.txt',
     '110427R0.pdf_3052.txt': '01-0A0804.pdf_3052.txt',
     '110427R0.pdf_2981.txt': '01-0A0804.pdf_2981.txt',
     '120712R0.pdf_4254.txt': '11-270804.pdf_4254.txt',
     '08-1N0304..pdf_12819.txt': '08-1N0304.pdf_12819.txt',
     '120928R0.pdf_4565.txt': '04-4S1204.pdf_4565.txt',
     '121016R0.pdf_4699.txt': '04-4S0304.pdf_4699.txt',
     '130220R0.pdf_4863.txt': '03-3E6204.pdf_4863.txt',
     '120717R0.pdf_4252.txt': '05-1A9704.pdf_4252.txt',
     '08-1G2804..pdf_12877.txt': '08-1G2804.pdf_12877.txt'
}

for key, value in d.items():
    try:
        path1 = RAW_DATA_PATH_LINEPRINTER / key
        path2 = RAW_DATA_PATH_LINEPRINTER / value
        path1.rename(path2)

        path1 = RAW_DATA_PATH_TABLE / key
        path2 = RAW_DATA_PATH_TABLE / value
        path1.rename(path2)
    except FileNotFoundError:
        print(f'File not found: {key}')
        continue

## Single Contract

In [ ]:
c = Contract('04-4G6404.pdf_7310')

In [ ]:
cd = ContractData(c)
cd.extract()
cd.df

In [ ]:
bd = BidData(c)   
bd.extract()
bd.df

In [ ]:
sd = SubcontractorData(c)   
sd.extract()
with pd.option_context('display.max_rows', None, 
                       'display.max_columns', None, 
                       'display.width', None, 
                       'display.max_colwidth', None):
    display(sd.df)

In [ ]:
lid = Itmes(c)   
lid.extract()
lid.df

# One sample study

In [ ]:
# filepath = RAW_DATA_PATH.parent / 'sample' / '01-0A3804.pdf_2724.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A3804.pdf_4353.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A0904.pdf_2724.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A1204.pdf_11468.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0F4304.pdf_12346.txt'  # issue # 11
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0K6104.pdf_12731.txt'  # issue # 9
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0K4604.pdf_12040.txt'  # issue # 1
filename = '01-0H3204.pdf_9871.txt'  # issue # 5
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A0404.pdf_10165.txt'  # different format
# filepath = RAW_DATA_PATH_LINEPRINTER / '04-4G6404.pdf_7310.txt'

In [38]:
identifier = '07-2838U4_6298'
contract = Contract(identifier)

In [11]:
text ="""\
    BIDDER ID NAME AND ADDRESS                                            DESCRIPTION OF PORTION OF WORK SUBCONTRACTED
   _________ ____________________________________________________________ ____________________________________________________________

      02     APPLY A LINE INC                                             ITEMS 6 THRU 8 AND 13 THRU 15
             ANDERSON CA

             DAN PALMER TRUCKING                                          ITEM 12
             ANDERSON CA

             EAGLE ROCK INC                                               ITEM 12
             WEAVERVILLE CA

             SAMBRANO TRAFFIC CONTROL                                     ITEM 4
             WILTON CA

             TITAN D V B E INCORPORATED                                   ITEMS 1 THRU 3 AND 5
             REDDING CA






"""

In [12]:
sc = Subcontractors(text, "test")
matches = sc.preprocess(sc.NARROW_REGEX)
processed_lines = sc._parse(matches[0], "test")
pd.DataFrame(processed_lines)

,Identifier,Bidder_ID,Subcontractor_Name,Subcontracted_Line_Item,Bidder_ID1,Subcontractor_Name1,Subcontracted_Line_Item1,Item_Numbers,Subcontractor_License_Number
0,test,02,PPLY A LINE INC,ITEMS 6 THRU 8 AND 13 THRU 15,02,APPLY A LINE INC,ITEMS 6 THRU 8 AND 13 THRU 15,"6 - 8 , 13 - 15",
1,test,,AN PALMER TRUCKING,ITEM 12,None,DAN PALMER TRUCKING,ITEM 12,12,
2,test,,AGLE ROCK INC,ITEM 12,None,EAGLE ROCK INC,ITEM 12,12,
3,test,,AMBRANO TRAFFIC CONTROL,ITEM 4,None,SAMBRANO TRAFFIC CONTROL,ITEM 4,4,
4,test,,ITAN D V B E INCORPORATED,ITEMS 1 THRU 3 AND 5,None,TITAN D V B E INCORPORATED,ITEMS 1 THRU 3 AND 5,"1 - 3 , 5",