In [3]:
from utils import *
from io import StringIO

# One sample study

In [ ]:
# filepath = RAW_DATA_PATH.parent / 'sample' / '01-0A3804.pdf_2724.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A3804.pdf_4353.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A0904.pdf_2724.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A1204.pdf_11468.txt'
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0F4304.pdf_12346.txt'  # issue # 11
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0K6104.pdf_12731.txt'  # issue # 9
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0K4604.pdf_12040.txt'  # issue # 1
filepath = RAW_DATA_PATH_LINEPRINTER / '01-0H3204.pdf_9871.txt'  # issue # 5
# filepath = RAW_DATA_PATH_LINEPRINTER / '01-0A0404.pdf_10165.txt'  # different format
# filepath = RAW_DATA_PATH_LINEPRINTER / '04-4G6404.pdf_7310.txt'

In [ ]:
contract_number_from_filename, tag, identifier = get_contract_number_and_tag_from_filename(filepath.stem)
file_contents = read_file(filepath)

In [ ]:
contract_number_from_filename, tag, identifier

('01-0H3204', '9871', '01-0H3204_9871')

Extract contract data:

In [ ]:
df_contract_data = pd.DataFrame([extract_contract_data(file_contents, identifier)])
df_contract_bid_data = pd.DataFrame(extract_contract_bid_data(file_contents, identifier))
df_bid_subcontractor_data, df_bid_subcontractor_data_outliers = parse_subcontracted_line_item(fill_gaps_in_bidder_id(pd.DataFrame(extract_bid_subcontractor_data(file_contents, identifier))))
df_contract_line_item_data = pd.DataFrame(extract_contract_line_item_data(file_contents, identifier))

In [ ]:
df_contract_data

,Identifier,Postponed_Contract,Bid_Opening_Date,Contract_Date,Contract_Code,Number_of_Contract_Items,Total_Number_of_Working_Days,Number_of_Bidders,Engineers_Est,Amount_Over,Amount_Under,Percent_Est_Over,Percent_Est_Under,Contract_Description
0,01-0H3204_9871,0,05/17/18,05/21/18,B,45,40,2,"4,289,668.00","1,048,840.75",,24.45,,OVERLAY

In [ ]:
df_contract_bid_data

,Identifier,Bid_Rank,A_plus_B_indicator,Bid_Total,Bidder_ID,Bidder_Name,Bidder_Phone,Extra,Weird_Contract_Notes,CSLB_Number,Third_Row
0,01-0H3204_9871,1,0,"5,338,508.75",1,MERCER FRASER COMPANY,707 443-6371,,,00105709,0
1,01-0H3204_9871,2,0,"6,466,644.00",2,"TELFER PAVEMENT TECHNOLOGIES, LLC",916 383-1756,,,01005314,0

In [ ]:
# with pd.option_context('display.max_rows', None, 
#                        'display.max_columns', None, 
#                        'display.width', None, 
#                        'display.max_colwidth', None):
display(df_contract_line_item_data)

,Identifier,Item_Number,Extra,Item_Code,Item_Description,Extra1,Item_Dollar_Amount
0,01-0H3204_9871,1,None,070030,LEAD COMPLIANCE PLAN,"LS LUMP SUM 9,500.00","9,500.00"
1,01-0H3204_9871,2,None,120090,CONSTRUCTION AREA SIGNS,"LS LUMP SUM 25,000.00","25,000.00"
2,01-0H3204_9871,3,None,120100,TRAFFIC CONTROL SYSTEM,"LS LUMP SUM 450,000.00","450,000.00"
3,01-0H3204_9871,4,None,128652,PORTABLE CHANGEABLE MESSAGE SIGN (LS),"LS LUMP SUM 35,000.00","35,000.00"
4,01-0H3204_9871,5,None,130100,JOB SITE MANAGEMENT,"LS LUMP SUM 80,000.00","80,000.00"
5,01-0H3204_9871,6,None,130200,PREPARE WATER POLLUTION CONTROL PROGRAM,"LS LUMP SUM 9,500.00","9,500.00"
6,01-0H3204_9871,7,None,130900,TEMPORARY CONCRETE WASHOUT,"LS LUMP SUM 2,500.00","2,500.00"
7,01-0H3204_9871,8,None,141120,TREATED WOOD WASTE,"LB 247,000 .30","74,100.00"
8,01-0H3204_9871,9,None,190185,SHOULDER BACKING,TON 180 100.00,"18,000.00"
9,01-0H3204_9871,10,None,198011,IMPORTED BORROW (TON),TON 410 88.00,"36,080.00"
10,01-0H3204_9871,11,None,390011,PREPAVING INERTIAL PROFILER,"LS LUMP SUM 50,000.00","50,000.00"
11,01-0H3204_9871,12,None,390020,PREPAVING GRINDING DAY,"EA 5 25,000.00","125,000.00"
12,01-0H3204_9871,13,None,390132,HOT MIX ASPHALT (TYPE A),"TON 1,020 190.00","193,800.00"
13,01-0H3204_9871,14,None,390151,ASPHALTIC EMULSION (BONDED WEARING COURSE),TON 86 875.00,"75,250.00"
14,01-0H3204_9871,15,None,394060,DATA CORE,"LS LUMP SUM 6,200.00","6,200.00"
15,01-0H3204_9871,16,None,394074,PLACE HOT MIX ASPHALT DIKE (TYPE C),LF 83 1.25,103.75
16,01-0H3204_9871,17,None,394076,PLACE HOT MIX ASPHALT DIKE (TYPE E),"LF 11,700 1.25","14,625.00"
17,01-0H3204_9871,18,None,394077,PLACE HOT MIX ASPHALT DIKE (TYPE F),LF 720 1.25,900.00
18,01-0H3204_9871,19,None,394090,PLACE HOT MIX ASPHALT (MISCELLANEOUS AREA),"SQYD 1,350 30.00","40,500.00"
19,01-0H3204_9871,20,None,395020,RUBBERIZED HOT MIX ASPHALT-GAP GRADED (BONDED...,"TON 16,000 149.00","2,384,000.00"
20,01-0H3204_9871,21,None,397005,TACK COAT,"TON 2.3 1,000.00","2,300.00"
21,01-0H3204_9871,22,None,398100,REMOVE ASPHALT CONCRETE DIKE,"LF 12,500 2.80","35,000.00"
22,01-0H3204_9871,23,None,398200,COLD PLANE ASPHALT CONCRETE PAVEMENT,"SQYD 5,610 35.00","196,350.00"
23,01-0H3204_9871,24,(F),510501,MINOR CONCRETE,"CY 5.7 4,570.00","26,049.00"
24,01-0H3204_9871,25,None,710196,ADJUST INLET,"EA 23 2,010.00","46,230.00"
25,01-0H3204_9871,26,None,035141,MODIFY ENTRANCE TAPER,EA 13 815.00,"10,595.00"
26,01-0H3204_9871,27,(F),750001,MISCELLANEOUS IRON AND STEEL,"LB 2,650 3.00","7,950.00"
27,01-0H3204_9871,28,None,810190,GUARD RAILING DELINEATOR,"EA 2,100 18.60","39,060.00"
28,01-0H3204_9871,29,None,810230,PAVEMENT MARKER (RETROREFLECTIVE),"EA 2,510 6.35","15,938.50"
29,01-0H3204_9871,30,None,832006,MIDWEST GUARDRAIL SYSTEM (STEEL POST),"LF 16,600 26.50","439,900.00"
30,01-0H3204_9871,31,None,832070,VEGETATION CONTROL (MINOR CONCRETE),"SQYD 11,700 35.00","409,500.00"
31,01-0H3204_9871,32,None,839525,CONNECT GUARD RAILING TO STRUCTURE,EA 5 350.00,"1,750.00"
32,01-0H3204_9871,33,None,839543,TRANSITION RAILING (TYPE WB-31),"EA 8 3,300.00","26,400.00"
33,01-0H3204_9871,34,None,839581,END ANCHOR ASSEMBLY (TYPE SFT),EA 1 750.00,750.00
34,01-0H3204_9871,35,None,839584,ALTERNATIVE IN-LINE TERMINAL SYSTEM,"EA 11 3,200.00","35,200.00"
35,01-0H3204_9871,36,None,839752,REMOVE GUARDRAIL,"LF 16,600 3.00","49,800.00"
36,01-0H3204_9871,37,None,840516,THERMOPLASTIC PAVEMENT MARKING (ENHANCED WET ...,SQFT 190 15.00,"2,850.00"
37,01-0H3204_9871,38,None,840621,"6"" THERMOPLASTIC TRAFFIC STRIPE (ENHANCED WET...",LF 370 2.00,740.00
38,01-0H3204_9871,39,None,840623,"6"" THERMOPLASTIC TRAFFIC STRIPE (ENHANCED WET...","LF 37,500 1.65","61,875.00"
39,01-0H3204_9871,40,None,846007,"6"" THERMOPLASTIC TRAFFIC STRIPE (ENHANCED WET...","LF 117,000 2.00","234,000.00"
40,01-0H3204_9871,41,None,846009,"8"" THERMOPLASTIC TRAFFIC STRIPE (ENHANCED WET...","LF 2,830 4.75","13,442.50"
41,01-0H3204_9871,42,None,846030,REMOVE THERMOPLASTIC TRAFFIC STRIPE,"LF 5,650 2.40","13,560.00"
42,01-0H3204_9871,43,None,846035,REMOVE THERMOPLASTIC PAVEMENT MARKING,SQFT 190 9.00,"1,710.00"
43,01-0H3204_9871,44,None,846046,"6"" RUMBLE STRIP (ASPHALT CONCRETE PAVEMENT)",STA 375 50.00,"18,750.00"
44,01-0H3204_9871,45,None,846051,"12"" RUMBLE STRIP (ASPHALT CONCRETE PAVEMENT)",STA 375 50.00,"18,750.00"

## Test multi line bid data

In [2]:
raw = """            3 A)     10,657,662.00    4              ADAMS COMMERCIAL GENERAL              707 443-6000  SB PREF CLAIMED
                                                                CONTRACTING, INC.                     00875823
                        B)  315 DAYS X  10000                  217 E STREET;                                        COMPARISON AMT:
                        --------------------
                        A+B)    13,807,662.00                    EUREKA CA  95501                                      10,607,662.00
                        
                        4           401,116.00    2              GOLDEN STATE BRIDGE, INC.             925 372-8000  CC PREF CLAIMED
                                                                                                    00851187
                                                                3701 MALLARD DRIVE;               FAX 925 372-8001
                                                                BENICIA CA  94510

                        5           247,247.00    3              TRUESDELL CORPORATION OF              602 437-1711  CC PREF CLAIMED
                                FAILED TO SUBMIT DVBE/DBE QUOTES CALIFORNIA, INC.                      00615058
                                                                ASDF
                                                                1310 W 23RD STREET;               FAX 602 437-1821
                                                                TEMPE AZ  85282

                        4         1,176,257.20    1              PETERSON-CHASE GENERAL                949 252-0441
                                NR DBE GL/GD FAITH EFFRT NOT MET ENGINEERING CONSTRUCTION, INC.        00615876
                                                                16351 CONSTRUCTION CIRCLE WEST    FAX 949 252-0266
                                                                IRVINE  CA  92606
"""

processed_lines = parse_contract_bid_data(raw, '<identifier>')    
pprint(processed_lines)

[defaultdict(<class 'str'>,
             {'A_plus_B_indicator': 1,
              'Bid_Rank': '3',
              'Bid_Total': '10,657,662.00',
              'Bidder_ID': '4',
              'Bidder_Name': 'ADAMS COMMERCIAL GENERAL',
              'Bidder_Phone': '707 443-6000',
              'Extra': '  SB PREF CLAIMED',
              'Identifier': '<identifier>',
              'Third_Row': 0}),
 defaultdict(<class 'str'>,
             {'A_plus_B_indicator': 0,
              'Bid_Rank': '4',
              'Bid_Total': '401,116.00',
              'Bidder_ID': '2',
              'Bidder_Name': 'GOLDEN STATE BRIDGE, INC.',
              'Bidder_Phone': '925 372-8000',
              'Extra': '  CC PREF CLAIMED',
              'Identifier': '<identifier>',
              'Third_Row': 0}),
 defaultdict(<class 'str'>,
             {'A_plus_B_indicator': 0,
              'Bid_Rank': '5',
              'Bid_Total': '247,247.00',
              'Bidder_ID': '3',
              'Bidder_Name': 'TRUESDELL CORPORATION OF',
              'Bidder_Phone': '602 437-1711',
              'Extra': '  CC PREF CLAIMED',
              'Identifier': '<identifier>',
              'Third_Row': 0}),
 defaultdict(<class 'str'>,
             {'A_plus_B_indicator': 0,
              'Bid_Rank': '4',
              'Bid_Total': '1,176,257.20',
              'Bidder_ID': '1',
              'Bidder_Name': 'PETERSON-CHASE GENERAL',
              'Bidder_Phone': '949 252-0441',
              'Extra': '',
              'Identifier': '<identifier>',
              'Third_Row': 0})]

## Test parse_subcontracted_line_item

In [5]:
df = pd.read_csv('testing/data/raw_subcontracted_line_item_examples.txt', header=None, delimiter="\t", names=['Subcontracted_Line_Item'])
df, df_outlier = parse_subcontracted_line_item(df)
df

,Subcontracted_Line_Item,PARSED_1,PARSED_2,PARSED_3,PARSED_4,PARSED_5
0,ITEMS 6 THRU 8 AND 13 THRU 15,NaN,ITEMS,"6 - 8 , 13 - 15",NaN,"6, 7, 8, 13, 14, 15"
1,ITEM 12,NaN,ITEM,12,NaN,12
2,ITEMS 1 THRU 3 AND 5,NaN,ITEMS,"1 - 3 , 5",NaN,"1, 2, 3, 5"
3,ITEMS 6 THRU 8 AND 13 THRU 15 (PARTIALS),NaN,ITEMS,"6 - 8 , 13 - 15",(PARTIALS),"6, 7, 8, 13, 14, 15"
4,"ITEMS 6, 7, 8, 13, 14 AND 15",NaN,ITEMS,"6, 7, 8, 13, 14 , 15",NaN,"6, 7, 8, 13, 14, 15"
5,"ITEMS 4, 6 THRU 8, 13 THRU 15",NaN,ITEMS,"4, 6 - 8, 13 - 15",NaN,"4, 6, 7, 8, 13, 14, 15"
6,"ITEMS 6, 7, 8 AND 13 THRU 15",NaN,ITEMS,"6, 7, 8 , 13 - 15",NaN,"6, 7, 8, 13, 14, 15"
7,ITEM 94 (100%),NaN,ITEM,94,(100%),94
8,ITEM LESS GC PROVIDED WATER,NaN,ITEM,LESS GC PROVIDED WATER,NaN,COULD NOT PARSE
9,"WORK AS DESCRIBED BY BID ITEM NUMBERS 11,14,18",WORK AS DESCRIBED BY BID,ITEM NUMBERS,"11,14,18",NaN,"11, 14, 18"
10,BID ITEMS 108-110 ALL 100%,BID,ITEMS,108-110 ALL 100%,NaN,COULD NOT PARSE
11,WORK AS DESCRIBED BY BID ITEMS LISTED,WORK AS DESCRIBED BY BID,ITEMS,LISTED,NaN,COULD NOT PARSE
12,"BID ITEMS 23-25,27-31,45,68-79 ALL 100%",BID,ITEMS,"23-25,27-31,45,68-79 ALL 100%",NaN,COULD NOT PARSE
13,"WORK AS DESCRIBED IN BID ITEM(S): 24, 25, 26, ...",WORK AS DESCRIBED IN BID,ITEM(S):,"24, 25, 26, 27, 28",NaN,"24, 25, 26, 27, 28"
14,"BID ITEMS 20-29, EACH 100%",BID,ITEMS,"20-29, EACH 100%",NaN,COULD NOT PARSE
15,"ITEMS 91,92,93,94,95,98 - 100%",NaN,ITEMS,"91,92,93,94,95,98 - 100%",NaN,COULD NOT PARSE
16,"ITEMS 10, 18 & -23",NaN,ITEMS,"10, 18 , -23",NaN,COULD NOT PARSE
17,"ITEMS 2, 3, 4 6 & 5",NaN,ITEMS,"2, 3, 4 6 , 5",NaN,COULD NOT PARSE
18,QUICK SAND,NaN,NaN,NaN,NaN,
19,SOMETHING ELSE,NaN,NaN,NaN,NaN,